<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Book Librarry</title>
</head>

<body>
  <div class="container">
    <h1>Books</h1>
    <a href="http://localhost:3001/form">Add New Book</a>

    {{{body}}}
  </div>
  <script src="./script.js"></script>

</body>

</html>